.header{
    height: 5rem;
    display: flex;
    background-color: var(--color-grey-0);
    justify-content: space-between;
    align-items: center;

    img{
        width: 9.9375rem;
        height: 2.3125rem;
        margin-left: 9.375rem;

        @media (max-width: 768px) {
            margin-left: 1.5625rem;
        }
    }
    button{
        width: 1.5625rem;
        height: 1.5625rem;

        margin-right: 9.375rem;
        border: none;

        background-color: var(--color-grey-0);
        color: var(--color-icon);
        position: relative;

        span{
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: -0.9375rem;
            right: -0.9375rem;

            width: 1.25rem;
            height: 1.5rem;
            border-radius: 0.4375rem;
            
            font-weight: 900;
            font-size: 0.875rem;
            color: var(--white-fixed);
            background-color: var(--color-primary);
        }

        @media (max-width: 768px) {
            margin-right: 1.5625rem;
        }
    }

}